<% content_for :head do %>
  <%= javascript_include_tag 'jquery.validate' %>
  <%= javascript_include_tag 'simple_form_validations' %>
<% end %>
<div id="main-container">
<section class="subpage with-aside">
<header>
	<h2 class="title">Something on your mind?</h2>
	<!-- <p class="description">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum.</p> -->
</header>

<script type='text/javascript'>
 $(document).ready(function() {
	$("#phone_number").mask("(999) 999-9999");
 });
</script>

<div class="section-content">
	<h3>Have questions?</h3>
	<p>We&rsquo;d love to hear from you. Whether it&rsquo;s feedback about how we can improve our service or general questions, please let us know.</p>

<%= form_tag 'static_pages/submit_contact_us', :class => 'contact-form' do %>

	<%= label_tag 'name' %>
	<%= text_field_tag 'name', nil, :class => 'required', :minlength => '2' %>

	<%= label_tag 'email' %>
	<%= email_field_tag 'email', nil, :class => 'required email' %>

	<%= label_tag 'phone_number' %>
	<%= phone_field_tag 'phone_number' %>

  <%= label_tag 'subject' %>
	<%= select_tag 'subject', options_for_select(['Agency Related', 'General Sales', 'Tech Support', 'Other'], params[:subject]) %>


	<%= label_tag 'body' %>
	<%= text_area_tag 'body', nil, :class => 'required' %>

	<br />
	
	<%= submit_tag 'Send', :class => 'btn primary' %>

<% end %>

</div><!-- /.section-content -->

<aside>
	<h3>Don&rsquo;t be shy, call us.</h3>
	<p>Questions, comments, praises or complaints - we love hearing from you. Call us at <a href="tel:+12105497799">210-549-7799</a>.</p>

	<h3>Customer Service:</h3>
	<p>&ldquo;A customer is the most important visitor on our premises, he is not dependent on us. We are dependent on him. He is not an interruption in our work. He is the purpose of it. He is not an outsider in our business. He is part of it. We are not doing him a favor by serving him. He is doing us a favor by giving us an opportunity to do so.&rdquo;<br />- <em>Mahatma Gandhi</em></p>
</aside>
</section>
</div><!-- /#main-container -->