<section class="subpage with-aside">
<header>
	<h2 class="title">Something on your mind?</h2>
	<p class="description">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum.</p>
</header>

<div class="section-content">
	<h3>Have questions? Wanna hug it out?</h3>
	<p>Cras mattis consectetur purus sit amet fermentum. Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui.</p>

<%= form_tag 'static_pages/submit_contact_us', :class => 'contact-form' do %>

	<%= label_tag 'name' %>
	<%= text_field_tag 'name' %>

	<%= label_tag 'email' %>
	<%= email_field_tag 'email' %>
<!-- 
	<%= label_tag 'subject' %>
	<%= text_field_tag 'subject' %>
 -->
 <%= label_tag 'subject' %>
	<%= select_tag 'subject', options_for_select(['Agency Related', 'General Sales', 'Tech Support', 'Other'], params[:subject]) %>


	<%= label_tag 'body' %>
	<%= text_area_tag 'body' %>

	<br />
	
	<%= submit_tag 'Send', :class => 'btn primary' %>

<% end %>

</div><!-- /.section-content -->

<aside>
	<h3>Some kind of title</h3>
	<p>Cras mattis consectetur purus sit amet fermentum. Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui.</p>
</aside>
</section>