<%= form_tag 'static_pages/follow_up_alert' do  %>
<style>
.select-source {
  margin:50px 0;
}
label.radio {
  height:40px;
  margin-right:20px;
}
textarea {
  width:400px;
  height:150px;
}
 label.radio img { width:100px; height:auto; vertical-align: middle;}
 label.radio input { margin-top:15px;}

 .thor-fun {
  position: absolute;
top: 200px;
right: 40px;
width: 300px;
 }
 .thor-fun img {
  width:300px;
  height:auto;
 }

</style>
  <fieldset>
    <div class="control-group">
      <%= label_tag 'name', nil, :class => 'control-label' %>
      <div class="controls">
        <%= text_field_tag 'name', 'Manager', :class => 'input-xlarge' %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag 'email', nil, :class => 'control-label' %>
      <div class="controls">
        <%= text_field_tag 'email', nil, :class => 'input-xlarge', :placeholder => 'somebody@someplace.com' %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag 'body', nil, :class => 'control-label' %>
      <div class="controls">
        <%= text_area_tag 'body', 
        "Thanks for speaking with me recently on the phone. Just as a recap, Grapevine alerts you via email about new customer reviews posted online at review sites like OpenTable, Google Local, TripAdvisor, Yelp, CitySearch, InsiderPages, UrbanSpoon and more."  %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag 'body continued', nil, :class => 'control-label' %>
      <div class="controls">
        <%= text_area_tag 'body_part2', 
        "Below, I've included a link to the review I sent you previously. Customer reviews matter for your restaurant so give Grapevine a test drive. All it takes to get started is you confirming your email address, nothing else."  %>
      </div>
    </div>
    
    <div class="control-group">
      <%= label_tag 'location_link', nil, :class => 'control-label' %>
      <div class="controls">
      <%= text_field_tag 'location_link' %>
      </div>
    </div>
  </fieldset>
  
  <fieldset class="actions">
    <%= submit_tag "Send - Fuck Up and Die!", :class => 'btn' %>
  </fieldset>

  
<% end %>