<div class="page-header">
	 <h2 class="motto">Reviews. <strong>Delivered</strong>.</h2>
            <h3 class="hand">Track every review posted online, good and bad!</h3>
	<h3>30 Day Free Trial, No Credit Card</h3>

<div><p>We just need some information from you to start tracking your businesses' reviews! <br /> Update your account with your billing information to keep receiving alerts! <br />Remember, after the trial you'll only be paying $30 a month to keep track of online reviews 24x7!</p></div>

<%= form_for @user, :url => subscriptions_path(@user) do |user_form| %>
  First name 			: <%= user_form.text_field :first_name %>
  Last name 			: <%= user_form.text_field :last_name %>
  Email 				: <%= user_form.email_field :email %>
  Phone Number          : <%= user_form.phone_field :phone_number %>
  Password  			: <%= user_form.password_field :password %>
  Password Confirmation : <%= user_form.password_field :password_confirmation %>

  <%= fields_for @location do |location_fields| %>
   
    Business Name       : <%= location_fields.text_field :name %>
    Street Address      : <%= location_fields.text_field :street_address %>
    Address Line 2      : <%= location_fields.text_field :address_line_2 %>
    City                : <%= location_fields.text_field :city %>
    State               : <%= location_fields.text_field :state %>
    Zip                 : <%= location_fields.text_field :zip %>
    Website             : <%= location_fields.url_field :website %>
  <% end %>

  <%= fields_for @subscription do |subscription_field| %>
  	<%= subscription_field.hidden_field :plan_id, value: @plan.id  %>
  <% end %>

  <div><%= user_form.submit "Sign up for Grapevine Email Alerts", :class => 'btn primary large' %></div>
<% end %>

<%#= render :partial => "devise/shared/links" %>


