<div class="page-header">
	 <h2 class="motto">Reviews. <strong>Delivered</strong>.</h2>
            <h3 class="hand">Track every review posted online, good and bad!</h3>
	<h3>30 Day Free Trial, No Credit Card</h3>

<div>
  &nbsp;
</div>
<div>
  &nbsp;
</div>

<div class="container">
  <div class="span10 offset1"><p>We just need a little information from you to start tracking your business reviews!</p>
    <div>
    &nbsp;
    </div>

      <div>
      
      <%= form_for @user, :url => subscriptions_path(@user) do |user_form| %>

        <!-- <p>
        <%= user_form.label :email %><br /><%= user_form.email_field :email %>
        </p> -->

        <!-- Erik review this error message
        <% if @user.errors.any? %>
          <div class="error_messages">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
            <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        end review error -->

        First Name 			: <%= user_form.text_field :first_name %> <em>(*Required)</em><br />
        Last Name 			: <%= user_form.text_field :last_name %> <em>(*Required)</em><br />
        Email 				: <%= user_form.email_field :email %> <em>(*Required)</em><br />
        Phone Number          : <%= user_form.phone_field :phone_number %><br />
        Password  			: <%= user_form.password_field :password %> <em>(*Required - MUST BE AT LEAST 6 CHARACTERS)</em><br />
        Password Confirmation : <%= user_form.password_field :password_confirmation %> <em>(*Required - REPEAT ABOVE)</em><br />

        <%= fields_for @location do |location_fields| %>
         
          Business Name       : <%= location_fields.text_field :name %>  <em>(*Required)</em><br />
          Street Address      : <%= location_fields.text_field :street_address %>  <em>(*Required)</em><br />
          Address Line 2      : <%= location_fields.text_field :address_line_2 %><br />
          City                : <%= location_fields.text_field :city %>  <em>(*Required)</em><br />
          State               : <%= location_fields.text_field :state %>  <em>(*Required)</em><br />
          Zip                 : <%= location_fields.text_field :zip %>  <em>(*Required)</em><br />
          Website             : <%= location_fields.url_field :website %><br /><br />
        <% end %>

        <%= fields_for @subscription do |subscription_field| %>
        	<%= subscription_field.hidden_field :plan_id, value: @plan.id  %>
        <% end %>

        <%= user_form.submit "Sign up for Grapevine Email Alerts", :class => 'btn primary large' %>
      <% end %>

      </div>
  </div>
</div>