<% content_for :head do %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
<% end %>

<div class="page-header">
	 <h2 class="motto">Reviews. <strong>Delivered</strong>.</h2>
            <h3 class="hand">Track every review posted online, good and bad!</h3>
	<h3>30 Day Free Trial, No Credit Card</h3>

<div>
  &nbsp;
</div>
<div>
  &nbsp;
</div>

  <div class="container">
    <div class="span10 offset1"><p>We just need a little information from you to start tracking your business reviews!</p>
      <div>
      &nbsp;
      </div>
      
      <div>

      <%= simple_form_for @user, :url => subscriptions_path(@user), :validate => true,
                :html => {:class => 'form-horizontal'} do |u| %>
        <%= u.input :first_name, label: 'First Name' %>
        <%= u.input :last_name, label: 'Last Name' %>
        <%= u.input :email, placeholder: 'name@example.com', :validate => true %>
        <%= u.input :phone_number, label: 'Phone Number', placeholder: '2105555555' %>
        <%= u.input :password, placeholder: 'Minimum length 6 characters' %>
        <%= u.input :password_confirmation, label: 'Password Confirmation', placeholder: 'Must match password provided' %>

          <%= simple_fields_for @location, :validate => true do |l| %>
            <%= l.input :name, label: 'Business Name', :validate => true %> 
            <%= l.input :street_address, label: 'Street Address' %>
            <%= l.input :address_line_2, label: 'Street Address 2' %>
            <%= l.input :city %>
            <%= l.input :state %>
            <%= l.input :zip %>
            <%= l.input :website %>  
          <% end %>

          <%= simple_fields_for @subscription do |s| %>
            <%= s.input :plan_id, as: :hidden, :input_html => { :value => @plan.id } %>
          <% end %>

        <%= u.submit 'Sign up for Grapevine Email Alerts', :class => 'btn primary large' %>
      <% end %>
      </div>
    </div>
</div>