<% content_for :head do %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <%= render 'shared/form_js_includes' %>
<% end %>
<% set_meta_tags :title => 'Sign up : Grapevine' %>
<div id="main-container" class="clearfix">
<section class="subpage">
  <header>
    <h2 class="title">For people serious about <br />customer reviews &amp; service.</h2>
    <p class="description">By signing up today, you will <strong>automatically</strong> be enrolled in our FREE FOREVER Plan that includes<br /><!-- go to hell josh, that's a break i just put in there -->up to 5 customer review alerts per month. However, Starting Out Doesn't Mean Missing Out,<br />because you can Upgrade to track unlimited reviews at anytime. We'll track all the major online<br />review sites for you 24x7 so you don't have to, plus you'll be notified automatically.</p>
  </header>

 <div class="section-content clearfix">


    <%= form_for @user, :validate => true, :html => { :class => 'form-horizontal signup-form'}, :url => subscriptions_path(@user) do |user_form| %>


        <div class="user-info">
          <h3>Your Information</h3>

            <div class="control-group">
              <label class="control-label">First Name</label>
              <div class="controls">
                <%= user_form.text_field :first_name %>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Last Name</label>
              <div class="controls">
                <%= user_form.text_field :last_name %>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Email</label>
              <div class="controls">
                <%= user_form.email_field :email, :validate => true %>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Phone Number</label>
              <div class="controls">
                <%= user_form.phone_field :phone_number %>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Password</label>
              <div class="controls">
                <%= user_form.password_field :password %>
              </div>
            </div>

        
        </div><!-- /.user-info -->

      <div class="biz-info">
        <h3>Business Name &amp; Address</h3>
          <%= user_form.fields_for :locations, :validate => true do |location_fields| %>
 
            <div class="control-group">
              <label class="control-label">Business Name</label>
              <div class="controls">
                <%= location_fields.text_field :name %> 
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Street Address</label>
              <div class="controls">
                <%= location_fields.text_field :street_address %> 
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Suite/Other</label>
              <div class="controls">
                <%= location_fields.text_field :address_line_2 %> 
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">City</label>
              <div class="controls">
                <%= location_fields.text_field :city %> 
              </div>
            </div>
            <div class="control-group state">
              <label class="control-label">State</label>
              <div class="controls">
                <%= location_fields.text_field :state, :size => 2, :placeholder => 'TX' %> 
              </div>
            </div>
            <div class="control-group zip">
              <label class="control-label">Zip</label>
              <div class="controls">
                <%= location_fields.text_field :zip, :size => 8 %> 
              </div>
            </div>
          <% end %>

          <%= fields_for @subscription do |subscription_field| %>
            <%= subscription_field.hidden_field :plan_id, value: @plan.id  %>
          <% end %>
          
          
      </div><!-- /.biz-info -->

          
         
      <div class="clear action">
         <%= user_form.submit "Sign up for Grapevine Email Alerts", :class => 'btn signup-btn primary purple_button large' %>
      </div>
      <% end %>
     
      
  </div><!-- /.section-content -->
</section>
</div><!-- /#main-container -->