<%= form_tag 'static_pages/review_alert' do  %>
  <fieldset class="fields">
    <div class="field">
      <%= label_tag 'email' %>
      <%= text_field_tag 'email' %>
    </div>
    <div class="field">
      <%= label_tag 'review' %>
      <%= text_area_tag 'review' %>
    </div>
    <div class="field">
      <%= label_tag 'rating' %>
      <%= text_area_tag 'rating' %>
    </div>
    
    <div class="radio">
      <%= radio_button_tag 'source', 'yelp' %>
      <%= label_tag 'Yelp' %>
      <%= radio_button_tag 'source', 'opentable' %>
      <%= label_tag 'OpenTable' %>
      <%= radio_button_tag 'source', 'google' %>
      <%= label_tag 'Google Places' %>
      <%= radio_button_tag 'source', 'tripadvisor' %>
      <%= label_tag 'TripAdvisor' %>
      <%= radio_button_tag 'source', 'urbanspoon' %>
      <%= label_tag 'Urbanspoon' %>
    </div>
    
    <div class="field">
      <%= label_tag 'location_link' %>
      <%= text_field_tag 'location_link' %>
    </div>
  </fieldset>
  
  <fieldset class="actions">
    <%= submit_tag "Send" %>
  </fieldset>
<% end %>