<% content_for :head do %>
  <%= render 'devise/registrations/stripe_tag_includes' %>
  <%= render 'shared/form_js_includes' %>
<% end %>

<section class="subpage">

<header>
<h2 class="title">Edit Account</h3>
<p class="description">Feel free to update your user and location information in case anything has changed.</p>
</header>

<div class="section-content">
<h3>Edit <%= resource_name.to_s.humanize %></h3>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validate => true, :html => { :class => 'form-horizontal', :method => :put }) do |user_form| %>
  <%= devise_error_messages! %>


  <div class="control-group">
    <label class="control-label">First Name</label>
    <div class="controls">
      <%= user_form.text_field :first_name %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Last Name</label>
    <div class="controls">
      <%= user_form.text_field :last_name %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Email</label>
    <div class="controls">
      <%= user_form.email_field :email, :validate => true %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Phone Number</label>
    <div class="controls">
      <%= user_form.phone_field :phone_number %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Password</label>
    <div class="controls">
      <%= user_form.password_field :password, :validate => { :presence => true, :format => true } %>
      <span class="help-block">Leave blank if you don&rsquo;t want to change it</span>
    </div>
  </div>

        <h3>Edit Business Information</h3>
          <%= user_form.fields_for :locations, :validate => true do |location_fields| %>
 
            <div class="control-group">
              <label class="control-label">Business Name</label>
              <div class="controls">
                <%= location_fields.text_field :name %> 
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Address</label>
              <div class="controls">
                <%= location_fields.text_field :street_address, :id => 'addresspicker_map' %>

              </div>
              <div id="map"></div>
                <%= location_fields.hidden_field :lat, :id => 'lat' %>
                <%= location_fields.hidden_field :long, :id => 'lng' %>
            </div>
          <% end %>

<div class="form-actions" style="margin:60px 0 20px 0;">
<%= link_to "Back", :back, :class => 'btn' %> <%= user_form.submit "Update", :class => 'btn alt' %>
</div>
<% end %>


<p class="span6 muted" style="margin-top:20px; font-size:13px;">Unhappy? Give us a call and we&rsquo;ll hug it out. If you need to cancel, we can do that too, just call us at <a href="tel:+12105497799">210-549-7799</a>.</p>
</div><!-- /.section-content -->
</section>


