<div id="main-container" class="dash-page profile">
<section class="with-aside">

<header>
<h2>Profile</h3>
<%= render 'accounts/dashnav' %>
</header>


<div class="section-content">
  <ul class="unstyled user-details-list">
    <h3>Current Information</h3>
    <li><strong>Name</strong> <span><%= current_user.first_name %> <%= current_user.last_name %></span></li>
    <li><strong>Email</strong> <span><%= current_user.email %></span></li>
    <li><strong>Phone Number</strong> <span><%= current_user.phone_number %></span></li>
</ul>

<p>Need to update your profile information? <a href="#" class="edit-profile-info">Edit Profile</a></p>


<script type="text/javascript">
 $(document).ready(function() {
  $('.profile-fields').hide();
  $('.edit-profile-info, a.cancel-profile-edit').click(function() {
    event.preventDefault();
    $('.profile-fields').toggle();
  });
 });
</script>
<div class="profile-fields">
<h3>Edit Your <%= resource_name.to_s.humanize %> Information</h3>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validate => true, :html => { :class => 'form-horizontal', :method => :put }) do |user_form| %>
  <%= devise_error_messages! %>


  <div class="control-group">
    <label class="control-label">First Name</label>
    <div class="controls">
      <%= user_form.text_field :first_name %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Last Name</label>
    <div class="controls">
      <%= user_form.text_field :last_name %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Email</label>
    <div class="controls">
      <%= user_form.email_field :email, :validate => true %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Phone Number</label>
    <div class="controls">
      <%= user_form.phone_field :phone_number %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Password</label>
    <div class="controls">
      <%= user_form.password_field :password, :validate => { :presence => true, :format => true } %>
      <span class="help-block">Leave blank if you don&rsquo;t want to change it</span>
    </div>
  </div>
<div class="form-actions" style="margin:60px 0 20px 0;">
<a href="#" class="cancel-profile-edit">Cancel</a> <%= user_form.submit "Save Changes", :class => 'btn alt' %>
<% end %>
</div>
</div><!-- /.profile-fields -->

<ul class="unstyled user-details-list">
  <h3>Business Information</h3>
  <li><strong>Name</strong> <span><%= @business.name %></span></li>
  <li><strong>Address</strong> <span><%= @business.street_address %></span></li>
  <% unless @business.address_line_2.nil? %>
    <li><strong>&nbsp;</strong> <span><%= @business.address_line_2 %></span></li>
  <% end %>
  <li><strong>City</strong> <span><%= @business.city %></span></li>
  <li><strong>State</strong> <span><%= @business.state %></span></li>
  <li><strong>Zip</strong> <span><%= @business.zip %></span></li>

  <li><strong>Phone Number</strong> <span><%= current_user.phone_number %></span></li>
</ul>

<p class="span6 muted" style="margin-top:20px; font-size:13px;">Unhappy? Give us a call and we&rsquo;ll hug it out. If you need to cancel, we can do that too. <br />Please contact Grapevine's Customer Service at <a href="tel:+12105497799">210-549-7799</a>.</p>

</div><!-- /.section-content -->

<aside>
  <h3>Need to edit your business?</h3>
    <p>Please contact us directly if you need your business information requires updating.</p>
    <p>Customer Service: <a href="tel:+12105497799">210-549-7799</a></p>
</aside>
</section>
</div><!-- /#main-container -->

