<div class="row-fluid">
  <div class="span12">

    <h3 class="page-title">Profile</h3>
  </div><!-- /.span12 -->
</div><!-- /.row-fluid -->


<div id="page" class="dashboard">
  <div class="row-fluid">
    

<div class="span4">
<div class="widget">
  <div class="widget-title">
    <h4>Edit Your <%= resource_name.to_s.humanize %> Information</h4>
  </div>
  <div class="widget-body">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validate => true, :html => { :class => 'form-vertical', :method => :put }) do |user_form| %>
  <%= devise_error_messages! %>


  <div class="control-group">
    <label class="control-label">First Name</label>
    <div class="controls">
      <%= user_form.text_field :first_name %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Last Name</label>
    <div class="controls">
      <%= user_form.text_field :last_name %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Email</label>
    <div class="controls">
      <%= user_form.email_field :email, :validate => true %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Phone Number</label>
    <div class="controls">
      <%= user_form.phone_field :phone_number %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Password</label>
    <div class="controls">
      <%= user_form.password_field :password, :validate => { :presence => true, :format => true } %>
      <span class="help-block">Leave blank if you don&rsquo;t want to change it</span>
    </div>
  </div>
  <div class="form-actions">
   <a href="#" class="btn cancel-profile-edit">Cancel</a>
   <%= user_form.submit "Save Changes", :class => 'btn alt' %>
   
  </div>
<% end %>
</div><!-- /.widget-body -->
</div><!-- /.widget -->
</div><!-- /.span4 -->

<div class="span4">


<p class="muted" style="margin-top:20px; font-size:13px;">Unhappy? Give us a call and we&rsquo;ll hug it out. If you need to cancel, we can do that too. Please contact Grapevine's Customer Service<br> at <a href="tel:+12105497799">210-549-7799</a>.</p>

</div><!-- /.span4 -->

</div><!-- /.row-fluid -->

</div><!-- /#page -->
