<% content_for :head do %>
  <%= render 'devise/registrations/stripe_tag_includes' %>
  <%= render 'shared/form_js_includes' %>
<% end %>

<div id="main-container" class="dash-page edit-profile">
<section>

<header>
<h2>Edit Profile Information</h3>
<%= render 'accounts/dashnav' %>
</header>

<div class="section-content">
<h3>Edit <%= resource_name.to_s.humanize %></h3>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validate => true, :html => { :class => 'form-horizontal', :method => :put }) do |user_form| %>
  <%= devise_error_messages! %>


  <div class="control-group">
    <label class="control-label">First Name</label>
    <div class="controls">
      <%= user_form.text_field :first_name %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Last Name</label>
    <div class="controls">
      <%= user_form.text_field :last_name %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Email</label>
    <div class="controls">
      <%= user_form.email_field :email, :validate => true %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Phone Number</label>
    <div class="controls">
      <%= user_form.phone_field :phone_number %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Password</label>
    <div class="controls">
      <%= user_form.password_field :password, :validate => { :presence => true, :format => true } %>
      <span class="help-block">Leave blank if you don&rsquo;t want to change it</span>
    </div>
  </div>
<div class="form-actions" style="margin:60px 0 20px 0;">
<%= link_to "Back", :back, :class => 'btn' %> <%= user_form.submit "Update", :class => 'btn alt' %>
</div>
<% end %>
<p>
<h3>Edit Business Information</h3>
          Currently at this time you cannot change your business information.<br />
          Please contact us directly if you need your business information updated or changed.<br /><br />
          Customer Service: 210-549-7799<br /><br />
          We will be releasing a location management system to handle this in the future.</p>

<p class="span6 muted" style="margin-top:20px; font-size:13px;">Unhappy? Give us a call and we&rsquo;ll hug it out. If you need to cancel, we can do that too, just call us at <a href="tel:+12105497799">210-549-7799</a>.</p>
</div><!-- /.section-content -->
</section>
</div><!-- /#main-container -->

