<% content_for :head do %>
  <%= javascript_include_tag "blasts.js.coffee" %>
<% end %>
<% provide(:title, 'Grapevine') %>
<div class="span12">
    <div>
    &nbsp;
    </div>
  <!-- OpenTable review goes here -->
  <div class="container">
      <div class="row">
          <div class="span7 hero-unit">
            <%= image_tag "pics/opentable-logo.png", width: "301.5", height: "58.5", alt: "OpenTable" %>
              <div>
              &nbsp;
              </div>
                <p><strong>Restaurant:</strong> <%= @blast.name %>
                <br />
                <strong>Customer Rating:</strong> <%= @blast.review_rating %> stars
                <br />
                <strong>Review posted on:</strong> <%= @blast.review_dine_date %>
                <br />
                <strong>The Review:</strong> <%= @blast.review_description %><br />
                <strong>Share This Review:</strong><br />
                </p>
                  <!-- AddThis Button BEGIN -->
                  <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                  <a class="addthis_button_preferred_1"></a>
                  <a class="addthis_button_preferred_4"></a>
                  <a class="addthis_button_google_plusone_badge" g:plusone:size="medium" g:plusone:href="https://plus.google.com/b/108923085544433086106/"></a>
                  <a class="addthis_button_preferred_2"></a>
                  <a class="addthis_button_preferred_3"></a>
                  <a class="addthis_button_compact"></a>
                  </div>
                  <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
                  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-502d1cd300f5b00e"></script>
                  <!-- AddThis Button END -->
          </div>
          <div class="pricing landing">

                <div class="span3">
                    <!-- <div class="well"> -->
                        <div align="center">
                          <div>
              &nbsp;
              </div>
              <div>
              &nbsp;
              </div>
              <div>
              &nbsp;
              </div>
              <div>
              &nbsp;
              </div>
              <div>
              &nbsp;
              </div>
              <div>
              &nbsp;
              </div>
                          <%= image_tag "pics/did-you-know.png", alt: "Did you know about this OpenTable review" %>
                          <p><em>Knowing is half the battle...</em></p>&nbsp;<br />
                          <a href="#set_focus" class="purple_button" id="yes-button">Yes</a>&nbsp;&nbsp;
                        <a href="#set_focus" class="signup" id="no-button">No</a>
                        </div>
                    <!-- </div> -->
                </div>
          </div>

      </div>

  </div>

  <a name="set_focus"></a>
  <div class="container" id="yes_info">
      <h2>You clicked 'Yes'... <strong>Nice Job!</strong></h2>
        <div class="span11">
          <div class="well">
            <h3 class="hand">But you could be wasting 10 hours a month monitoring reviews by hand!</h3>
          </div>

          <div class="graded center">
              <%= image_tag "pics/do-the-math.png", alt: "Save 10 hours every month" %>
          </div>
          <div class="well">
                  <h3 class="hand">Grapevine sends you new customer reviews directly to your email</h3>
          </div>
        </div>

          <div class="pricing landing">

                <div class="span3">
                    <div class="well">
                        <div align="center">
                          <%= image_tag "pics/bad-review.png", alt: "DO not miss another online review thanks to Grapevine." %>
                        </div>
                    </div>
                </div>
                <div class="span1">
                  <div align="center">
                    <%= image_tag "pics/plus.png", alt: "", class: "features_icon" %>
                  </div>
                </div>
                <div class="span3">
                    <div class="well">
                        <div align="center">
                          <%= image_tag "pics/review-sites.png", alt: "We monitor CitySearch Hotels.com Bing and more" %>
                        </div>
                    </div>
                </div>
                <div class="span1">
                  <div align="center">
                    <%= image_tag "pics/equals.png", alt: "", class: "features_icon" %>
                  </div>
                </div>
                <div class="span3">
                    <div class="well">
                        <div align="center">
                          <%= image_tag "pics/gadgets-we-deliver-to.png", alt: "Grapevine delivers reviews to your email" %>
                        </div>
                    </div>
                </div>
          </div>
          <div>
              &nbsp;
              </div><div>
              &nbsp;
              </div>
          <div align="center">
            <a href="/" class="signup">Learn More</a>&nbsp;<a href="/signup2" class="purple_button">Try It for Free</a>
          </div>
  </div>
  <div class="container" id="no_info">
      <h2><strong>You're in luck,</strong> that's what Grapevine does!</h2>
      <div class="span11">
          <div class="well">
                  <h3 class="hand">Grapevine sends you new customer reviews directly to your email</h3>
          </div>
        </div>

          <div class="pricing landing">

                <div class="span3">
                    <div class="well">
                        <div align="center">
                          <%= image_tag "pics/bad-review.png", alt: "Do you track all your customer reviews online?" %>
                        </div>
                    </div>
                </div>
                <div class="span1">
                  <div align="center">
                    <%= image_tag "pics/plus.png", alt: "", class: "features_icon" %>
                  </div>
                </div>
                <div class="span3">
                    <div class="well">
                        <div align="center">
                          <%= image_tag "pics/review-sites.png", alt: "We monitor OpenTable Yelp Google TripAdvisor and more" %>
                        </div>
                    </div>
                </div>
                <div class="span1">
                  <div align="center">
                    <%= image_tag "pics/equals.png", alt: "", class: "features_icon" %>
                  </div>
                </div>
                <div class="span3">
                    <div class="well">
                        <div align="center">
                          <%= image_tag "pics/gadgets-we-deliver-to.png", alt: "Grapevine delivers reviews to all your mobile devices" %>
                        </div>
                    </div>
                </div>
          </div>
          <div>
              &nbsp;
              </div><div>
              &nbsp;
              </div>
          <div align="center">
            <div>
              &nbsp;
              </div>
            <a href="/" class="signup">Learn More</a>&nbsp;<a href="/signup2" class="purple_button">Try It for Free</a>
          </div>
  </div>
</div>
