<% provide(:title, 'Grapevine') %>
<div class="span12">
    <div>
    &nbsp;
    </div>
  <!-- OpenTable review goes here -->
  <div class="container">
      <h2>Want <strong>More</strong> ?</h2>
      <h3 class="hand">Wantmore 2 template!</h3>
      <div class="row">
          <div class="span7 hero-unit">
            <%= image_tag "pics/opentable-logo.png", alt: "OpenTable" %>
              <div>
              &nbsp;
              </div>
                <p><strong>Restaurant:</strong> <%= @blast.name %>
                <br />
                <strong>Customer Rating:</strong> <%= @blast.rating %> stars
                <br />
                <strong>Review posted on:</strong> <%= @blast.review_dine_date %>
                <br />
                <strong>The Review:</strong> <%= @blast.review_description %><br />
                <strong>Share This Review:</strong><br />
                </p>


                  <!-- AddThis Button BEGIN -->
                  <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                  <a class="addthis_button_preferred_1"></a>
                  <a class="addthis_button_preferred_4"></a>
                  <a class="addthis_button_google_plusone_badge" g:plusone:size="medium" g:plusone:href="https://plus.google.com/b/108923085544433086106/"></a>
                  <a class="addthis_button_preferred_2"></a>
                  <a class="addthis_button_preferred_3"></a>
                  <a class="addthis_button_compact"></a>
                  </div>
                  <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
                  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-502d1cd300f5b00e"></script>
                  <!-- AddThis Button END -->
          </div>

          <!-- <div class="span1">
              <%= image_tag "pics/arrow.png", alt: "Try Grapevine", class: "features_icon" %>
          </div> -->

          <div class="pricing landing">

                <div class="span3">
                    <div class="well">
                        <h4><em>Were you aware of this review on OpenTable?</h4>
                        
                        <!-- <%= image_tag "pics/review-site-logos.png", alt: "We track Google, Yelp and more" %> -->
                        <div>
                          &nbsp;
                        </div>
                        <div align="center"><a href="#" class="purple_button">Yes</a>&nbsp;&nbsp;
                        <a href="#" class="signup">No</a>
                        </div>
                    </div>
                </div>
          </div>

      </div>

  </div>

<script type="text/javascript">
function showDiv(toggle){
document.getElementById(toggle).style.display = 'block';
}
</script>

<input type="button" name="answer" onclick="showDiv('toggle')">Show</input>

<div id="toggle" style="display:none">Hello</div>

  <div class="container">
      <h2>Stop <strong>wasting</strong> your time searching.</h2>
      <br />
      <div class="row">
          <div class="span12 center graded">
        <!-- <a href="/signup" class="purple_button">FREE 30-Day Trial for Email Alerts</a> -->
              <h3 class="hand">30 day free trial, no credit card, no long-term contracts.</h3>
          </div>
      </div>
  </div>
</div>
