<% content_for :head do %>
  <%= javascript_include_tag "blasts.js.coffee" %>
<% end %>
<% provide(:title, 'Grapevine') %>
    <div>&nbsp;</div><div>&nbsp;</div>
<div class="span12">
    <div>&nbsp;</div>
  <!-- OpenTable review goes here -->
  <div class="container">
      <div class="row">
          <div class="span11 hero-unit">
            <div class="span7">
                <p>
                <%= image_tag "pics/avatar.gif", alt: "OpenTable" %><br /><strong>The Review:</strong><em> "<%= @blast.review_description %>"</em><br />
                <strong>Restaurant:</strong> <%= @blast.name %>
                <br />
                <strong>Customer Rating:</strong> <%= @blast.review_rating %> stars
                <br />
                <strong>Review posted on:</strong> <%= @blast.review_dine_date %>
                </p>
                <div>
              &nbsp;
              </div>
            </div>
            <!-- <div class="pricing landing"> --> 

                  <div class="span3 did-you-know">
                          <div align="center">
                            <%= image_tag "pics/did-you-know.png", alt: "Did you know about this OpenTable review" %>
                            <p><br /><em>Knowing is half the battle...</em></p>&nbsp;<br />
                            <a href="#set_focus" class="purple_button" id="yes-button">Yes</a>&nbsp;&nbsp;
                          <a href="#set_focus" class="signup" id="no-button">No</a>
                          </div>
                  </div>
            <!-- </div> -->
          </div>

      </div>

  </div>
  <!-- YES reply info goes here -->
  <a name="set_focus"></a>
  <div class="container" id="yes_info">
      <h2>Nice Job... but <strong>Grapevine Can Save You Time!</strong></h2>
        <div class="row">
          <div>
            <h3 class="hand">You could be wasting 10 hours a month monitoring reviews by hand!</h3>
          </div>
          <div class="graded center">
              <%= image_tag "pics/do-the-math2.png", alt: "Save 10 hours every month" %>
          </div>
          <h2>How <strong>Grapevine Works</strong></h2>
          <div>
                  <h3 class="hand">Grapevine sends you new customer reviews directly to your email</h3>
          </div>
        </div>

          <div class="pricing landing row steps">

                <div class="span4">
                  <h4 class="hand"><span>1</span> Customer Reviews</h4>
                    <div class="well">
                        <div align="center">
                          
                          <%= image_tag "pics/angry-customer.png", alt: "DO not miss another online review thanks to Grapevine." %><br /><br />
                          <p>Customer leaves you a 2-star angry review on OpenTable.com</p>
                        </div>
                    </div>
                </div>
                <div class="span4">
                  <h4 class="hand"><span>2</span> We Search</h4>
                    <div class="well">
                        <div align="center">
                          
                          <%= image_tag "pics/grapevine-grabs.png", alt: "We monitor CitySearch Hotels.com Bing and more" %><br /><br />
                          <p>Grapevine searches for new reviews from all the popular review sites.</p>
                        </div>
                    </div>
                </div>
                <div class="span4">
                  <h4 class="hand"><span>3</span> Email Delivered</h4>
                    <div class="well">
                        <div align="center">
                          
                          <%= image_tag "pics/grapevine-sends.png", alt: "Grapevine delivers reviews to your email" %><br /><br />
                          <p>Grapevine delivers your customer reviews to your email on any device.</p>
                        </div>
                    </div>
                </div>
          </div>
          <div align="center">
            <h4>*All future alerts will ONLY go to your email box &amp; you will NOT need to visit our awesome website each time.</h4><br />
          </div>
        <div class="span12">
          <h2>Like what you see? <strong>Want More FREE Alerts?</strong></h2><br />
          <div align="center">
            <br/>
            <div id="wufoo-z7p8s7">
              Fill out my <a href="http://grapevine.wufoo.com/forms/z7p8s7">online form</a>.
              </div>
              <script type="text/javascript">var z7p8s7;(function(d, t) {
              var s = d.createElement(t), options = {
              'userName':'grapevine', 
              'formHash':'z7p8s7', 
              'autoResize':true,
              'height':'284',
              'async':true,
              'header':'show'};
              s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
              s.onload = s.onreadystatechange = function() {
              var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
              try { z7p8s7 = new WufooForm();z7p8s7.initialize(options);z7p8s7.display(); } catch (e) {}};
              var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
              })(document, 'script');</script>
          </div>
        </div>
  </div>

  <!-- NO reply info goes here -->
  <div class="container" id="no_info">
      <h2><strong>You&rsquo;re in luck,</strong> that&rsquo;s what Grapevine does!</h2>
      <div class="row">
          <div>
            <h3 class="hand">Grapevine sends you new customer reviews directly to your email</h3>
          </div>
        </div>

          <div class="pricing landing row steps">

                <div class="span4">
                  <h4 class="hand"><span>1</span> Customer Reviews</h4>
                    <div class="well">
                        <div align="center">
                          
                          <%= image_tag "pics/angry-customer.png", alt: "DO not miss another online review thanks to Grapevine." %><br /><br />
                          <p>Customer leaves you a 2-star angry review on OpenTable.com</p>
                        </div>
                    </div>
                </div>
                <div class="span4">
                  <h4 class="hand"><span>2</span> We Search</h4>
                    <div class="well">
                        <div align="center">
                          
                          <%= image_tag "pics/grapevine-grabs.png", alt: "We monitor CitySearch Hotels.com Bing and more" %><br /><br />
                          <p>Grapevine searches for new reviews from all the popular review sites.</p>
                        </div>
                    </div>
                </div>
                <div class="span4">
                  <h4 class="hand"><span>3</span> Email Delivered</h4>
                    <div class="well">
                        <div align="center">
                          
                          <%= image_tag "pics/grapevine-sends.png", alt: "Grapevine delivers reviews to your email" %><br /><br />
                          <p>Grapevine delivers your customer reviews to your email on any device.</p>
                        </div>
                    </div>
                </div>
          </div>
          <div align="center">
            <h4>*All future alerts will ONLY go to your email box &amp; you will NOT need to visit our awesome website each time.</h4><br />
          </div>
        <div class="span12">
          <h2>Like what you see? <strong>Want More FREE Alerts?</strong></h2><br />
          <div align="center">
            <br/>
            <div id="wufoo-m7p8m7">
              Fill out my <a href="http://grapevine.wufoo.com/forms/m7p8m7">online form</a>.
              </div>
              <script type="text/javascript">var m7p8m7;(function(d, t) {
              var s = d.createElement(t), options = {
              'userName':'grapevine', 
              'formHash':'m7p8m7', 
              'autoResize':true,
              'height':'284',
              'async':true,
              'header':'show'};
              s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
              s.onload = s.onreadystatechange = function() {
              var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
              try { m7p8m7 = new WufooForm();m7p8m7.initialize(options);m7p8m7.display(); } catch (e) {}};
              var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
              })(document, 'script');</script>
          </div>
        </div>
  </div>
</div>