<div class="page-header">
	<h2>Sign in</h2>
</div>
<div class="container">
	<div>
		&nbsp;
	</div>
	<div class="span10 offset1">
		<%= form_for(resource, :as => resource_name, :class => "form-inline", :url => session_path(resource_name)) do |f| %>
		  <div><%= f.label :email %><br />
		  <%= f.email_field :email %></div>

		  <div><%= f.label :password %><br />
		  <%= f.password_field :password %></div>

		  <% if devise_mapping.rememberable? -%>
		    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
		  <% end -%>

		  <div><%= f.submit "Sign in", :class => "btn primary" %></div>
		<% end %>
	</div>
</div>
<div class="container">
	<div>
		&nbsp;
	</div>
	<div class="span10 offset1">
<%= render :partial => "devise/shared/links" %>
</div>