<% set_meta_tags :title => 'Sign In : Grapevine' %>
<div id="main-container">
<section class="subpage">
	
	<div class="section-content login-incorrect">
		<h3>Login</h3>
		<%= form_for(resource, :as => resource_name, :class => "form-inline", :url => session_path(resource_name)) do |f| %>
		  <div><%= f.label :email %>
		  <%= f.email_field :email %></div>

		  <div><%= f.label :password %>
		  <%= f.password_field :password %></div>

		  <% if devise_mapping.rememberable? -%>
		    <%= f.check_box :remember_me %> <%= f.label :remember_me %>
		  <% end -%>

		  <%= f.submit "Sign in", :class => "btn primary" %>
		<% end %>
		<%= render :partial => "devise/shared/links" %>
	</div><!-- /.section-content -->
</section>
</div>
