<div class="wrapper clearfix">
	<div class="footer-col-wrap clearfix">

  <div class="footer-col thanks">
  	<h4>Thanks for checking us out.</h4>
    <p>Let us know if you need anything. We are sorta crazy about customer support and are here for any questions you may have, about life, love or even our software.
    But if you do have any questions or just want to say &ldquo;Howdy&rdquo;, don&rsquo;t hesitate to <a href="/contact">contact us</a>.</p>

    <p class="call-us">Talk to a real person at <a href="tel:+12105497799">210-549-7799</a>.</p>
  	
  </div>

  <div class="footer-col">
    <blockquote class="quote">
      &ldquo;It is such a time saver to just be notified instantly, instead of searching daily or weekly for new customer reviews.&rdquo;
      <span class="author"><%= image_tag 'julia-head-shot2.png' %><span class="name">Julia</span> <br /><em>JKFitness</em></span>
    </blockquote>


  </div>
</div><!-- /.footer-col-wrap -->
  

  <ul class="footer-nav">
    <% if current_user %>
      <li><%= link_to "Log Out", destroy_user_session_path %></li>

    <% else %>

      <li><%= link_to "Home", root_path %></li> • 
      <li><%= link_to "About", about_path %></li> •
      <li><%= link_to "Learn More", learn_more_path %></li> •
      <li><%= link_to "Pricing", pricing_path %></li> • 
      <li><%= link_to "Contact", contact_path %></li> •
      <li class="signup"><%= link_to "Get Started", signup_path %></li>
    <% end %>
    </ul>
    <p class="copyright">&copy; Grapevine 2013 | <%= link_to 'Privacy Policy', privacy_path %> | <%= link_to 'Terms of Service', terms_path %></p>
</div><!-- /.wrapper -->
  
    <%= debug(params) if Rails.env.development? %>
