<% provide(:title, 'Grapevine') %>
<div class="container">
            <h2 class="motto">Reviews. <strong>Delivered</strong>.</h2>
            <h3 class="hand">Track every review posted online, good and bad!</h3>
            <%= image_tag("pics/feature.png", id: "feature-screenshot", alt: "screenshot") %>
        </div>
    </div>
    <div class="row">
        <div class="span12 graded center">
            <p>You'll be amazed by Producto. Never has performant node.js NoSQL CoffeeScript LLVM compiling been so easy.</p>
        </div>
    </div>
</div>


<div class="container">
    <h2><strong>Features</strong> you'll really dig.</h2>
    <h3 class="hand">We've covered all bases.</h3>
    <div class="row">
        <div class="span12 box drop-shadow">
            <div class="row">
                <article class="span6 offset1">
                    <h3>HTML5 goodness, open fonts.</h3>
                    <p>Kickstarter user engagement A/B testing shrink a market venture capital pitch deck. Social bookmarking group buying crowded market
                    pivot onboarding freemium prototype ping pong.
                    Early stage disruptive ecosystem community outreach dynamic location based strategic investor. 
                    </p>
                </article>
                <div class="span4">
                    <%= image_tag("pics/placeholder_200.png", alt: "placeholder") %>
                </div>
            </div>
            <div class="row">
                <div class="span4 offset1">
                    <%= image_tag("pics/placeholder_200.png", alt: "placeholder") %>
                </div>
                <article class="span6">
                    <h3>Fully responsive design.</h3>
                    <p>Accelerator photo sharing business school drop out ramen hustle crush it revenue traction platforms.
                    Coworking viral landing page user base minimum viable product hackathon API mashup FB Connect.</p>
                </article>
            </div>
            <div class="row">
                <article class="span6 offset1">
                    <h3>Use this as a base.</h3>
                    <p>Tablet publishing HTML5 mobile first really simple syndication meetups white board walls.
                    User experience iterate algorithm gamification semantic web value add market research stealth.
                    Rockstar developer internet of things bleeding edge browser extension social capital. 
                    </p>
                </article>
                <div class="span4">
                    <%= image_tag("pics/placeholder_200.png", alt: "placeholder") %>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h2>Things <strong>people have said</strong> about us.</h2>
    <table class="table table-bordered quotes">
        <tr>
            <td width="33%"><h4>TechMunch</h4>"The coolest startup I have seen in a long time."</td>
            <td width="33%"><h4>The Hexed Web</h4>"This will be a gamechanger."</td>
            <td width="33%"><h4>Gnashable</h4>"Use this product <em>now</em>."</td>
        </tr>
    </table>
</div>
<div class="container">
    <h2>Optional <strong>pricing</strong> table.</h2>
    <div class="row pricing">
        
        <div class="span3">
            <div class="well">
                <h3>Basic</h3>
                <ul>
                    <li>1 user</li>
                    <li>1 project</li>
                    <li>1GB storage</li>
                </ul>
                <h4>$24/month</h4>
            </div>
        </div>

        <div class="span3">
            <div class="spot">Best<br/>value!</div>
            <div class="well highlighted">
                <h3>Plus</h3>
                <ul>
                    <li>5 users</li>
                    <li>5 projects</li>
                    <li>5GB storage</li>
                </ul>
                <h4>$36/month</h4>
            </div>
        </div>

        <div class="span3">
            <div class="well">
                <h3>Pro</h3>
                <ul>
                    <li>10 users</li>
                    <li>20 projects</li>
                    <li>15GB storage</li>
                </ul>
                <h4>$50/month</h4>
            </div>
        </div>

        <div class="span3">
            <div class="well">
                <h3>Premium</h3>
                <ul>
                    <li>Unlimited users</li>
                    <li>Unlimited projects</li>
                    <li>50GB storage</li>
                </ul>
                <h4>$80/month</h4>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="span12 center graded">
            <a href="#" class="signup">Sign up now</a>
        </div>
    </div>
</div>
<div class="container">
    <h3 class="hand">Keep in touch.</h3>
    <div class="row">
        <div class="span8">
            <h4>About us</h4>
            <p>Producto Corp was founded in 2012 by Frank Upfield and Nathan Kent-Young to take advantage of the latest technologies in order to aid viral B2B synergy.</p>
            <p></p>
            
        </div>
        <div class="span4">
            
            <form class="form-horizontal">
                <h4>Sign up to the newsletter</h4>
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-envelope"></i></span><input type="text" id="inputIcon" class="span2" placeholder="Email address">
                </div>
                    
                <button class="btn">Sign up</button>
            </form>
            
        </div>
    </div>
    <div class="row footer">
        <div class="span12">
            <ul class="links">
                <li><%= link_to image_tag('g-only-colorflat.png', alt: "Grapevine"), '#' %></li>
                <li><a href="http://www.twitter.com/pickgrapevine.com"><%= image_tag("icons/twitter.png", alt: "twitter") %></a></li>
                <li><a href="http://www.facebook.com/pickgrapevine"><%= image_tag("icons/facebook.png", alt: "fb") %></a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Contact</a></li>
            </ul>           
        </div>
    </div>
         
</div>