<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= display_meta_tags :site => 'Grapevine' %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="Grapevine">
    <meta name="robots" content="index,follow,archive" />
    <link rel="apple-touch-icon-precomposed" href="/assets/apple-touch-icon-iphone.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/apple-touch-icon-iphone4.png" />
    <link rel="icon" type="image/vnd.microsoft.icon" href="/assets/favicon.ico" />
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <meta property='og:description' content='Grapevine sends you an email alert each time a customer leaves a review for your business on Yelp, TripAdvisor, Google, Open Table and many more.'/>
    <meta property='og:image' content='/assets/grapevine-opengraph.png'/>
    <meta property='og:site_name' content='Grapevine'/>
    <meta property='og:title' content='Customer Review Reporting and Concierge Service | Grapevine'/>
    <meta property='og:type' content='website'/>
    <meta property='og:url' content='http://pickgrapevine.com/'/>
    <link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", :media => "all" %>

    
    <%= javascript_include_tag "application" %>
    <%= yield(:head) %>
    <%= csrf_meta_tags %>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
      <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header id="global-header" class="clearfix">
      <nav><%= render 'layouts/navigation' %></nav>
    </header>

      <%= render 'layouts/messages' %>


      <% if current_page?(root_url) %>
        <% if !current_user %>
          <%= render 'static_pages/home_hero' %>
        <% end %>
      <% end %>

      <div id="main-container" class="clearfix">
        <%= yield %>
      </div><!-- /#main-container -->
      

    <footer>
      <%= render 'layouts/footer' %>
      <%= render 'layouts/analytics' %>
    </footer>

    

  </body>

  
</html>