<% content_for :head do %>
  <%= render 'devise/registrations/stripe_tag_includes' %>
  <%= render 'shared/form_js_includes' %>
<% end %>

<div class="container signed-in">

	<div class="row-fluid">
		<div class="span7">
			<h3>Welcome, <%= current_user.first_name %></h3>
			<p class="muted">Here&rsquo;s what we have on file for you now.</p>

			<dl>
				<dt>Name</dt>
				<dd><%= current_user.first_name %> <%= current_user.	last_name %></dd>

				<dt>Email</dt>
				<dd><%= current_user.email %></dd>

				<dt>Plan</dt>
				<dd><%= @plan.name %>  <span>Start date: <%= @subscription.start_date %></span></dd>

				<dt>Status</dt>
				<dd><%= @subscription.status_info.capitalize %></dd>
				<p>


				<dt>Business Tracking</dt>
				<dd><%= @location.name %></dd>
			</dl>

			<%= link_to "Edit Profile", edit_user_registration_path, :class => 'btn' %>
		</div><!-- /.span6 -->

		<div class="span5 well">

			<h4><span>You&rsquo;re currently on our Trial Plan.</span> <span>Your trial period has expired</span> Upgrade today.</h4>

			<%= form_for @subscription, :html => { :class => 'payment-form' } do |f| %>

				<%= f.hidden_field :stripe_card_token %>
				<%= f.hidden_field :last_four %>
				


				<noscript>
		          <p>This form requires Javascript to use</p>
		        </noscript>
		        <!-- these fields are disabled before submission and are never transmitted back to rails -->
				<div class="control-group">
					<label class="control-label">Name on card</label>
					<div class="controls">
						<%= text_field_tag :name_on_card %>
					</div>

				</div>

				<div id="credit-card" style="<%= @subscription.last_four ? "display:none" : "display:block" %>">
		          <div id="credit-card-errors" style="display:none">
		            <div id="stripe-error-message" class="alert-message block-message error">
		            </div>
		          </div>

					<div class="control-group">
						<label class="control-label">Card Number</label>
						<div class="controls">
							<%= text_field_tag :credit_card_number, params[:credit_card_number], :class => 'input-large', :disabled => true %>
							<span class="help-block">Visa, MasterCard, Discover, AMEX</span>
						</div>
					</div>
					<!-- <div class="control-group">
						<label class="control-label">Address</label>
						<div class="controls">
							<input type="text" placeholder="Street Address" class="input-large">
							<input type="text" placeholder="City" class="input-medium">
							<input type="text" placeholder="TX" class="input-mini">
							<input type="text" placeholder="Zip Code" class="input-small">
						</div>
					</div> -->
					<div class="control-group">
						<%= label_tag :expiry_date, 'Expiration', :class => 'control-label' %>
						<!-- <label class="control-label">Expiration</label> -->
						<div class="controls controls-row">
							<%= date_select "", :expiry_date, {:discard_day => true, :order => [:month, :year], :use_month_numbers => true, :start_year => Date.today.year, :end_year => Date.today.year + 25, :disabled => true}, {:class => "input-small"} %>
							<!-- <input type="text" class="input-mini" placeholder="MM">
							<input type="text" class="input-small" placeholder="YYYY"> -->
							<span>Your credit card details will be sent directly to our payment processor</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">CVV</label>
						<div class="controls">
							<%= text_field_tag :cvv, params[:cvv], :class => 'input-mini', :disabled => true %>
							<span class="help-block">3 digit number on back of card</span>
						</div>
					</div>
				</div>
				<div class="form-actions">
					<!-- Don't change form submit text like $30/month unless you update subscriptions controller -->
					<%= f.submit "$30/month", :class => "btn purple_button" %>
					<span class="or-pay">- OR PAY -</span>
					<%= f.submit "$300/year", :class => "btn purple_button" %>
					<span>Get 2 Months Free</span>
					<!--
					<button type="submit" class="btn purple_button">$30/month</button>
					<button type="submit" class="btn purple_button">$300/year </button> -->
				</div>

			<% end %><!-- /.payment-form -->
		</div><!-- /.span6 -->


</div><!-- /.container -->
	