<div id="main-container" class="dash-page summary">
<section id="profile" class="with-aside">
	<header>
		<h2>Welcome, <%= current_user.first_name %></h2>
		<%= render :partial => 'dashnav', :locals => {:status => current_user.subscription.status, :plan => current_user.plan.identifier} %>
	</header>

	<div class="section-content">
	
	<h3 class="has-actions">Your Information</h3>

	
	<ul class="unstyled user-details-list">
		<li><strong>Name</strong> <span><%= current_user.first_name %> <%= current_user.last_name %></span></li>
		<li><strong>Email</strong> <span><%= current_user.email %></span></li>
		<li><strong>Plan</strong> <span><%= @plan.name %></li>
		<li><strong>Status</strong> <span><%= @status %></span></li>
		<li><strong>Business Tracking</strong> <span><%= @location.name %></span></li>
	</ul>

	</div><!-- /.section-content -->

	<aside>
		<h3>Thanks for stopping by</h3>
		<p>When logged in you can edit your account details and personal info. </p>
		<p>If you have any questions or concerns while here, don&rsquo;t hesitate to contact us.</p>
		<p>Call us at <a href="tel:+12105497799">210-549-7799</a></p>
	</aside>
		
</section>
</div><!-- /#main-container.dash-page -->
	