<div class="container signed-in">

	<div class="row-fluid">
		<div class="span7">
			<h3>Welcome, <%= current_user.first_name %></h3>
			<p class="muted">Here&rsquo;s what we have on file for you now.</p>

			<dl>
				<dt>Name</dt>
				<dd><%= current_user.first_name %> <%= current_user.	last_name %></dd>

				<dt>Email</dt>
				<dd><%= current_user.email %></dd>

				<dt>Plan</dt>
				<dd><%= @plan.name %>  <span>Start date: <%= @start_date %></span></dd>

				<dt>Status</dt>
				<dd><%= @status %></dd>
				<p>


				<dt>Business Tracking</dt>
				<dd><%= @location.name %></dd>
			</dl>

			<%= link_to "Edit Profile", edit_user_registration_path, :class => 'btn' %>
		</div><!-- /.span6 -->
		
		<% if @status != "active" %>
			<%= render :partial => 'shared/payment_form', :object => @status %>
		<% end %>
</div><!-- /.container -->
	