<section class="subpage with-aside">
	<header>
		<h2 class="title">Welcome, <%= current_user.first_name %></h2>
	</header>

	<div class="section-content">
	
	<h3>Your Information</h3>
	
	<ul class="unstyled user-details-list">
		<li><strong>Name</strong> <span><%= current_user.first_name %> <%= current_user.	last_name %></span></li>
		<li><strong>Email</strong> <span><%= current_user.email %></span></li>
		<li><strong>Plan</strong> <span><%= @plan.name %></li>
		<li><strong>Status</strong> <span><%= @status %></span></li>
		<li><strong>Business Tracking</strong> <span><%= @location.name %></span></li>
	</ul>

			<%= link_to "Edit Profile", edit_user_registration_path %>

			<hr />


			<% if @status != "active" %>
			<h3>Update your account</h3>
			<%= render :partial => 'shared/payment_form', :object => @status %>
		<% end %>
	</div>
		<aside>
			<h3>Subtitle</h3>
			<p>Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>

			<h3>Subtitle</h3>
			<p>Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
		
		</aside>
</section>
	