<div class="container signed-in">

	<h3>Welcome, <%= current_user.first_name %></h3>
	<p class="muted">Here&rsquo;s what we have on file for you now.</p>

	

		<dl>
			<dt>Name</dt>
			<dd><%= current_user.first_name %> <%= current_user.	last_name %></dd>

			<dt>Email</dt>
			<dd><%= current_user.email %></dd>

			<dt>Plan</dt>
			<dd><%= @plan.name %>  <span>Start date asshole</span></dd>
			


			<dt>Business Tracking</dt>
			<dd><%= @location.name %></dd>
		</dl>

		<p class="muted">Need to update your information? No problem, call us at: <a href="tel:12105497799" class="purple">210-549-7799</span></p>


</div><!-- /.container -->
	