<div id="main-container" class="dash-page welcome">
<section id="profile">
	<header>
		<h2>Welcome, <%= current_user.first_name %></h2>
		<%= render 'layouts/dashnav' %>
	</header>

	<div class="section-content">
	
	<h3 class="has-actions">Your Information <span class="title-actions"><%= link_to "Edit Profile", edit_user_registration_path %><%= link_to 'Upgrade now', upgrade_path %></span></h3>

	
	<ul class="unstyled user-details-list">
		<li><strong>Name</strong> <span><%= current_user.first_name %> <%= current_user.	last_name %></span></li>
		<li><strong>Email</strong> <span><%= current_user.email %></span></li>
		<li><strong>Plan</strong> <span><%= @plan.name %></li>
		<li><strong>Status</strong> <span><%= @status %></span></li>
		<li><strong>Business Tracking</strong> <span><%= @location.name %></span></li>
	</ul>

	</div>
		<aside>
			<h3>Subtitle</h3>
			<p>Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>

			<h3>Subtitle</h3>
			<p>Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
		
		</aside>
</section>
</div><!-- /#main-container.dash-page -->
	