<!-- from other page -->
<div id="main-container" class="dash-page change-plan">
<section class="with-aside">
<header>
<h2>Change Your Plan</h2>
<%= render 'layouts/dashnav' %>
</header>

	<div class="section-content">

		<h3>What does upgrading get me?</h3>
		<h4>Unlimited Review Tracking for Your Business.</h4>

		<h3>How much does it cost?</h3>
		<h4>$30 per month.</h4>
		<p>That&rsquo;s it. Awesome, right?<br /> Sign up below and your account will be immediately upgraded!</p>
	
	<% if @subscription.last_four.present? %>
    	You have already provided a credit card ending in : <%= @subscription.last_four %><br />
    	<%= link_to 'Update your billing', billing_path %>
    <% else %>
		<%= render 'shared/payment_form' %>
	<% end %>

	</div><!-- /.section-content -->



	<aside>
		<h3>Account Status:</h3>
		<p><%= @status %></p>

		<h3>Current Plan:</h3>
		<p><%= @current_user.plan.name %></p>

		<h3>Location Limit:</h3>
		<p><%= pluralize(@location_limit, 'location') %></p>

		<h3>Review Limit:</h3>
		<p><%= pluralize(@review_limit, 'review') %></p>
	</aside>
</section>
</div><!-- /#main-container.dash-page -->
