<!-- from other page -->
<div id="main-container" class="dash-page change-plan">
<section class="with-aside">
<header>
<h2>Change Your Plan</h2>
<%= render 'layouts/dashnav' %>
</header>

	<div class="section-content">
		<p>You are currently subscribed to our : <br /><%= @current_user.plan.name %></p>
		<% if @subscription.last_four.present? %>
	    	<p>You have already provided a credit card ending in : <%= @subscription.last_four %><br />
	    	<%= link_to 'Update your billing', billing_path %></p>
	    <% else %>
	    	<h3>What does upgrading get me?</h3>
			<h4>Unlimited Review Tracking for Your Business.</h4>

			<h3>How much does it cost?</h3>
			<h4>$30 per month.</h4>
			<p>That&rsquo;s it. Awesome, right?<br /> Sign up below and your account will be immediately upgraded!</p>
			<% if @plan_identifier == 'gv_free'  %>
				<%= render 'shared/payment_form', :plan => @paid_plan %>
			<% end %>
		<% end %>
		<p class="span6 muted" style="margin-top:20px; font-size:13px;">Unhappy? Give us a call and we&rsquo;ll hug it out. <br />If you need to cancel or downgrade, we can do that too, just call us at <a href="tel:+12105497799">210-549-7799</a>.</p>
	</div><!-- /.section-content -->



	<aside>
		<%= render 'account_overview' %>
	</aside>
</section>
</div><!-- /#main-container.dash-page -->
